.mobile-device .main_ {
    flex-direction: column;
}
.container {
    display: flex;
}
video { width: 100%; height: 60%;}
.status { margin: 10px 10px; color: #666; width: 80%; font-size: 14px;}
.title_ , .search_ , .empty{
    flex: auto;
}
:root {
    --primary-color: #0F0F0F;
    --secondary-color: #272727;
    --light-color: #F1F1F1;
    --caution-color: #FF0033;
    --secondary-light-color: #3F3F3F;
    --light-dark-color: #D6D6D6;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 20px;
}

.controls {
    background: var(--primary-color);
    width: 100%;
    height: 50px;
    margin: 20px 0;
    overflow: hidden;
    border-style:solid;
    border-width: 0px;
    border-radius: 5px;
    min-width: 480px;
}

.title_ {
    background: var(--primary-color);
    width: 30%;
    overflow: hidden;
    margin: 20px 0;
    font-size: xx-large;
    min-width: 180px;
    display: flex;
}

.word {
    font-weight: bold;
}

.search_ {
    background-color: var(--primary-color);
    width: 40%;
    overflow: hidden;
    min-width: 360px;
    display: flex;
    justify-content:space-around;
    height: 40px;
    margin: 20px 0;
}
.search__ {
    background-color: var(--secondary-color);
    width: 80%;
    overflow: hidden;
    margin: 0px 0;
    min-width: 360px;
    border-style:solid;
    border-width: 1px;
    border-radius: 128px;
    min-width: 45px;
    display: flex;
    justify-content: space-around;
    border-color: var(--secondary-color);
}
.empty {
    width: 30%;
}
.empty_ {
    width: 100%;
    background-color: var(--secondary-color);
}

.fullscreen-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen-mode video {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: contain;
}

.fullscreen-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 10000;
}

.fullscreen-controls button {
    margin: 0 5px;
    color: white;
    background: #555;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.fullscreen-controls button:hover {
    background: #777;
}

.browser-warning {
    display: none;
    background: #fff3cd;
    border: 1px solid #ffeaa7;
    color: #856404;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.text_enter {
    width: 90%; 
    height: 100%;
    border-style:solid;
    border-width: 0px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 14px;
}
.button_s {
    width: 10%;
    float: right;
    height: 100%;
    border-style:solid;
    border-width: 0px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    min-width: 45px;
    font-size: 14px;
}
.button_s:hover {
    background-color: var(--secondary-light-color);
}
.button_s:active {
    background-color: var(--secondary-color);
}
.button_l {
    width: 7%;
    float: left;
    height: 40px;
    margin: 10px 5px;
    border-style:solid;
    border-width: 0px;
    border-radius: 128px;
    background-color: var(--light-color);
    color: var(--primary-color);
    min-width: 45px;
    font-size: 14px;
}
.button_l:hover {
    background-color: var(--light-dark-color);
}
.button_l:active {
    background-color: var(--light-color);
}
.button_r {
    width: 7%;
    float: right;
    height: 40px;
    margin: 10px 5px;
    border-style:solid;
    border-width: 0px;
    border-radius: 128px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    min-width: 45px;
    font-size: 14px;
}
.button_r:hover {
    background-color: var(--secondary-light-color)
}
.button_r:active {
    background-color: var(--secondary-color);
}
.main_ {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
}
.player {
    width: 100%;
    min-width: 360px;
    aspect-ratio: 4 / 3;
    background-color: var(--secondary-color);
}
.buttons {
    width: 20%;
    color: var(--secondary-color);
}
.button_play {
    width: 90%;
    height: 100px;
    margin: 5px 5px;
    color: var(--light-color);
    background: var(--primary-color);
    border-color: var(--secondary-color);
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: left;
    font-size: small;
    min-width: 250px;
    font-size: 14px;
}
.button_play:hover {
    background: var(--secondary-color);
}
.button_play:active {
    background: var(--primary-color);
}
.head_img{
    height: 80px;
    border-radius: 100%;
}
.videoContainer {
    width: 80%;
    min-width: 480px;
    background-color: var(--primary-color);
}
.buttons, .videoContainer {
    float: left;
}

.logo {
    height: 50px;
    width: 50px;
}

.Protocol {
    width: 10%;
    border-style:solid;
    border-width: 0px;
    border-radius: 128px;
    min-width: 65px;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-color: var(--secondary-color);
    font-size: 14px;
}
.Protocol:hover {
    background-color: var(--secondary-light-color);
}
.Protocol:active {
    background-color: var(--secondary-color);
}

@media (max-aspect-ratio: 3/4), (hover: none) and (pointer: coarse) {
    .main_ {
        flex-direction: column !important;
    }
    
    .videoContainer {
        width: 100% !important;
        min-width: 100% !important;
        order: 1;
    }
    
    .buttons {
        width: 100% !important;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .button_play {
        width: 95% !important;
        min-width: 95% !important;
        margin: 5px auto !important;
        font-size: 28px;
        height: 200px;
    }

    .head_img {
        height: 150px;
        width: 150px;
    }

    .status {
        font-size: 28px;
    }

    .button_l {
        font-size: 28px;
        width: 15%;
        height: 70px;
    }

    .button_r {
        font-size: 28px;
        width: 15%;
        height: 70px;
    }
    
    .pc {
        display: none;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .title_, .search_, .empty {
        width: 100% !important;
        text-align: center;
        margin: 10px 0;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .word {
        font-size: 70px;
    }
    
    .search_ {
        min-width: 100% !important;
        height: 70px;
    }
    
    .text_enter {
        width: 85%;
        font-size: 28px;
    }
    
    .button_s {
        width: 15%;
        font-size: 28px;
    }
    
    video {
        height: auto;
        max-height: 50vh;
    }
    
    .controls {
        min-width: 100% !important;
        height: auto
    }

    .Protocol {
        font-size: 28px;
        width: 12%;
    }
}
