:root {
    --primary-color: #0F0F0F;
    --secondary-color: #272727;
    --light-color: #F1F1F1;
    --caution-color: #FF0033;
    --secondary-light-color: #3F3F3F;
    --light-dark-color: #D6D6D6;
    background-color: var(--primary-color);
}

.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "main";
}

.main {  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "video contor";
  grid-area: main;
}

.video {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 60px 60px 60px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "videobar"
    "titles"
    "buts"
    "sta";
  grid-area: video;
}

.videobar { 
    grid-area: videobar; 
    background-color: var(--secondary-color);
    aspect-ratio: 16 / 9;
}

.titles { 
    grid-area: titles; 
}

.buts { 
    grid-area: buts; 
}

.sta { grid-area: sta; 
    background-color: var(--secondary-color);
}

.contor {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 95px 95px 95px 95px 95px 60px 95px 95px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    ".";
  grid-area: contor;
}

.title {  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  grid-template-rows: 1fr 40px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "title_logo searchbar settings"
    ". . .";
  grid-area: title;

}

.title_logo {  display: grid;
  grid-template-columns: 1fr 40px 4fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". logo titletext";
  grid-area: title_logo;
}

.logo { grid-area: logo; }

.titletext { grid-area: titletext; }

.searchbar {  display: grid;
  grid-template-columns: 1fr 64px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". schbut";
  grid-area: searchbar;
}

.schbut { 
    grid-area: schbut; 
    background-color: var(--secondary-color);
}

.settings {  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". setbut";
  grid-area: settings;
}

.setbut { grid-area: setbut; }
